:root {
	--font-family: 'Open Sans', sans-serif;
	--font-size: 1rem;
	--font-bold: 700;
	--color-blue: #49A6E9;
	--color-primary: #063251;
	--color-bg: hsl(206, 33%, 96%);
	--transition: linear .3s;
	--letter-spacing: .25rem;
	--border-radius: 0.5rem;
	--line-height: 1.5;
}