:root {
	--font-family: 'Roboto', sans-serif;
	--font-size: 1rem;
	--color-blue: #49A6E9;
	--color-primary: #102A42;
    --font-bold: 700;
	--letter-spacing: .25rem;
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	--border-radius: 0.5rem;
	--transition: linear .3s;
}