:root {
	--font-family: 'Roboto', sans-serif;
	--font-family-secondary: 'Open Sans', sans-serif;
	--font-size: .88rem;
	--font-bold: 700;
	--letter-spacing: .25rem;
	--color-blue: #49A6E9;
	--color-primary: #102A42;
	--color-bg: hsl(206, 33%, 96%);
	--box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--border-radius: 0.5rem;
	--max-width: 620px;

	@include mq() {
		--font-size: 1rem;
	}
}