<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JavaScript- Counter">
    <title>Tabs</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main class="hero">
        <div class="hero__info">
            <h1 class="hero__info__title">About
            </h1>
            <div class="hero__info__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor amet!
            </div>
        </div>
        <div class="hero-grid">
            <figure class="hero__image">
            <img src="img/hero.jpeg" alt="View image">
        </figure>
        <article class="hero__tabs js-tabsWrap">
            <div class="hero__tabs__btn-wrapper">
                <button type="button" class="hero__tabs__btn js-btnTabs active" data-title="history">History</button>
                <button type="button" class="hero__tabs__btn js-btnTabs" data-title="vision">Vision</button>
                <button type="button" class="hero__tabs__btn js-btnTabs" data-title="goals">Goals</button>
            </div>
            <div class="hero__tabs__content-wrapper">
                <div class="hero__tabs__content js-content active" data-title="history">
                    <div class="hero__tabs__content__title">History</div>
                    <p class="hero__tabs__content__desc">
                        I'm baby wolf pickled schlitz try-hard normcore marfa man bun mumblecore vice pop-up XOXO lomo kombucha glossier bicycle rights. Umami kinfolk salvia jean shorts offal venmo. Knausgaard tilde try-hard, woke fixie banjo man bun. Small batch tumeric mustache tbh wayfarers 8-bit shaman chartreuse tacos. Viral direct trade hoodie ugh chambray, craft beer pork belly flannel tacos single-origin coffee art party migas plaid pop-up.
                    </p>
                </div>
                <div class="hero__tabs__content js-content" data-title="vision">
                    <div class="hero__tabs__content__title">Vision</div>
                    <p class="hero__tabs__content__desc">
                        Man bun PBR&B keytar copper mug prism, hell of helvetica. Synth crucifix offal deep v hella biodiesel. Church-key listicle polaroid put a bird on it chillwave palo santo enamel pin, tattooed meggings franzen la croix cray. Retro yr aesthetic four loko tbh helvetica air plant, neutra palo santo tofu mumblecore. Hoodie bushwick pour-over jean shorts chartreuse shabby chic. Roof party hammock master cleanse pop-up truffaut, bicycle rights skateboard affogato readymade sustainable deep v live-edge schlitz narwhal.
                    </p>
                </div>
                <div class="hero__tabs__content js-content" data-title="goals">
                    <div class="hero__tabs__content__title">Goals</div>
                    <p class="hero__tabs__content__desc">
                        Chambray authentic truffaut, kickstarter brunch taxidermy vape heirloom four dollar toast raclette shoreditch church-key. Poutine etsy tote bag, cred fingerstache leggings cornhole everyday carry blog gastropub. Brunch biodiesel sartorial mlkshk swag, mixtape hashtag marfa readymade direct trade man braid cold-pressed roof party. Small batch adaptogen coloring book heirloom. Letterpress food truck hammock literally hell of wolf beard adaptogen everyday carry. Dreamcatcher pitchfork yuccie, banh mi salvia venmo photo booth quinoa chicharrones.
                    </p>
                </div>
            </div>
        </article>
        </div>
    </main>

    <script src="js/main.js"></script>
</body>

</html>