<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="JavaScript- Color Flipper">
	{% block title %}
	{% endblock title %}
	<link rel="icon" href="/img/favicon.png">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header__wrapper">
				<nav class="nav nav--left">
					<a href="#" class="nav__link js-text-color">color flipper</a>
				</nav>
				<nav class="nav nav--right">
					<a href="index.html" class="nav__link">simple</a>
					<a href="fully-random.html" class="nav__link">random</a>
				</nav>
			</div>
		</div>
	</header>
	<main class="flipper">
		<div class="container">
			<div class="flipper__wrapper">
				<div class="flipper__box">
					<div class="flipper__box__item">Background Color</div>
					<div class="flipper__box__item js-color">#F1F5F8</div>
				</div>
				<button type="button" class="flipper__button js-button">Click Me</button>
			</div>
		</div>
	</main>
	{% block customJS %}
	{% endblock customJS %}
</body>

</html>