<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JavaScript- Counter">
    <title>Slider</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <section class="slider">
        <div class="slider-item-container">
            <div class="slider__item js-slide">
                <img src="img/food-1.jpeg" alt="Food">
                <div class="slider__item__number">1</div>
            </div>
            <div class="slider__item js-slide">
                <div class="slider__item__number">2</div>
            </div>
            <div class="slider__item js-slide">
                <div class="slider__item__number">3</div>
            </div>
            <div class="slider__item js-slide">
                <div class="slider__item-wrapper">
                    <img class="person-image" src="img/person-2.jpg" alt="">
                    <div class="slider__item__name">Suzan Doe</div>
                    <div class="slider__item__number">4</div>
                </div>
            </div>
        </div>
        <div class="slider-button-container">
            <button type="button" class="slider__button js-btnPrev" aria-label="Prev">Prev</button>
            <button type="button" class="slider__button js-btnNext" aria-label="Next">Next</button>
        </div>
    </section>
    <script src="js/main.js"></script>
</body>
</html>