<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JavaScript- Counter">
    <title>Menu</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main class="menu">
        <div class="menu__title">Our Menu</div>
        <div class="menu__category js-categoryCont">
            <!-- <button type="button" class="button menu__category__button js-btnFilter" aria-label="Menu category button" data-id= "all">All</button>
            <button type="button" class="button menu__category__button js-btnFilter" aria-label="Menu category button" data-id= "breakfast">Breakfast</button>
            <button type="button" class="button menu__category__button js-btnFilter" aria-label="Menu category button" data-id= "lunch">Lunch</button>
            <button type="button" class="button menu__category__button js-btnFilter" aria-label="Menu category button" data-id= "shakes">Shakes</button>
            <button type="button" class="button menu__category__button js-btnFilter" aria-label="Menu category button" data-id= "dinner">Dinner</button> --->
        </div>
        <div class="menu__food-wrapper js-menuCont">
            <!--<div class="menu__food">
                <figure class="menu__food__image">
                    <img src="img/food-1.jpeg" alt="Menu image">
                </figure>
                <div class="menu__food__content">
                    <div class="menu__food__content__detail">
                        <div class="menu__food__content__detail__title">
                            Buttermilk Pancakes
                        </div>
                        <div class="menu__food__content__detail__price">$15.99</div>
                    </div>
                    <p class="menu__food__content__desc">
                        I'm baby woke mlkshk wolf bitters live-edge blue bottle, hammock freegan copper mug whatever cold-pressed
                    </p>
                </div>
            </div> --->
        </div>
    </main>
    <script src="js/main.js"></script>
</body>

</html>